.centered {
    margin: 0, auto;
    text-align: center;
}

.title {
    font-family: 'Courier New', Courier, monospace;
}

/* Recipes */

.recipe-image {
    width: 30%;
    height: auto;
}

p,
li {
    font-family: Arial, Helvetica, sans-serif;
}

.footnote {
    font-size: 13px;
}

